/* styles.css */
body {
  background-color: rgb(191, 247, 219, 0.5) ;
  width: 800px;
  margin: auto;
  font-family: Arial, 'Courier New', Helvetica, sans-serif;
}

h1 {
  color: rgb(22, 27, 99);
  background-color: rgb(136, 243, 189, 0.6);
  font-size: 48px;
  text-align: center;
  margin: 0.5em auto;
}

div .subsection {
  align-items: center;
  color: blue;
  margin-left: 3em;
  display: inline-flex;
}

span, #scroller, .foot {
  display: flex;
  width: auto;
  align-items: center;
  height: 75px;
  margin: auto;
  padding: 2px;
}

h3 {
  display: inline-flex;
  color: green;
  background-color: inherit;
  margin-left: 300px;
}

img.actual {
  height: auto;
  width: 600px;
  display: flex;
  border: 2px rgb(127, 255, 212, 0.3);
  margin: auto;
}

p {
  text-justify: auto;
  text-align: left;
  margin: auto 2em;
}

.teasers {
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin: 2em;
}

.promo {
  color: rgb(54, 35, 6);
  font-weight: 500;
  font-style: italic;
  margin-top: 2em;
}

#return {
  display: inline-block;
  background-color: inherit;
  font-size: 18px;
  font-style: italic;
  height: auto;
  width: 80px;
  text-align: center;
}

button {
  margin: auto 0;
}