/* styles.css */
body {
  background-color: rgb(191, 247, 219, 0.5) ;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
}

h1 {
  color: rgb(22, 27, 99);
  background-color: rgb(136, 243, 189, 0.6);
  font-size: 48px;
  text-align: center;
  font-family: Arial, 'Courier New', Helvetica, sans-serif;
  display: inline-flex;
  }

div .subsection {
  align-items: center;
  color: blue;
  margin-left: 3em;
  display: inline-flex;
}

#scroller {
  display: inline-flex;
  object-fit: contain;
}

h3{
  display: inline-flex;
  color: green;
  background-color: inherit;
}

img.actual {
  height: auto;
  width: 600px;
  display: flex;
  border: 2px rgb(127, 255, 212, 0.3);  
}

p {
  text-justify: auto;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

.foot {
  max-height: 75px;
  max-width: auto;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}
  
.teasers {
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin: 2em;
  }

span {
  border: 1px solid blue;
  display: inline-flex;
}

.promo {
  color: rgb(54, 35, 6);
  font-weight: 500;
  font-style: italic;
  margin-top: 2em;
}